.keys{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 40%;
    left: 45%;
    background-color: wheat;
    font-size: large;
    
}

.pics{
    display: flex;
    justify-content: center;
}